#title {
    --s: 140px;
    --c1: var(--text-800);
    --c2: var(--text-600);

    background:
    linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s); 

    color: var(--background);
    padding-block: 3rem;
}

#contact {
    box-shadow: none;
}
.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;  
}
.contact-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid var(--text-500);
}
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.333rem;
}
.contact-details a {
    color: var(--text-700);
    text-decoration: none;
}
.contact-details a:hover {
    text-decoration: underline;
}

@media (max-width:550px) {
    .contact-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-content img {
        margin-inline: auto;
    }
}