#title.coloring-green {
    --s: 140px;
    --c1: var(--primary-700);
    --c2: var(--primary-500);

    background:
    linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s); 

    color: var(--background);
    padding-block: 3rem;
}
#title.coloring-brown {
    --s: 140px;
    --c1: var(--text-800);
    --c2: var(--text-600);

    background:
    linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s); 

    color: var(--background);
    padding-block: 3rem;
}

#content {
    box-shadow: none;
}
.content-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(100%, 680px);
}
.article {
    text-decoration: none;
    color: var(--text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: var(--transition);
}
.article:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
}
.article:nth-of-type(2n) {
    flex-direction: row-reverse;
}
.article img {
    max-width: 200px;
}
.article span {
    display: block;
    margin-bottom: 1rem;
}

@media (max-width:415px) {
    .article img {
        display: none;
    }
}