<section id="cta">
    <div class="cta-content">
        <h1>Spojme síly!</h1>
        <strong>Zorganizujme přenášku také na vaší škole!</strong>
        <strong>Zanechte na sebe kontakt a spolu dořešíme detaily</strong>
        <div>
            <a href="/about/o-projektu" class="secondary-button">Více o projektu &rarr;</a>
            <a href="/about/prakticke-informace" class="secondary-button">Praktické informace &rarr;</a>
        </div>
    </div>
    <div class="cta-content">
        <form id="contact-form">
            <input type="text" name="name" placeholder="Jméno" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="tel" name="tel" placeholder="Telefonní číslo" required>
            <button type="submit" class="primary-button">
                <span class="btn-text">Odeslat</span>
                <span class="btn-loading hidden">Odesílám...</span>
            </button>
            <p class="form-message"></p>
        </form>
    </div>
</section>