<section class="pension-comparison">
    <h2>
        <span class="sup-heading">Přehled</span>
        Srovnání penzijního produktů
    </h2>
    <div class="grid-box">
        <div class="pension-box">
            <h3>
                <span class="sup-heading">PP</span>
                Penzijní připojištění
            </h3>
            <div class="pension-info-box">
                <p class="negative"><i class="fa-solid fa-circle-xmark"></i> <strong>Už se neuzavírá</strong></p>
                <p class="pension-spec">Penziní připojištění jako produkt už neexistuje od roku 2013, kdy bylo nahrazeno doplňkovým penzijním spořením. Prostředky klientů přešli do tzv. transformovaných fondů (TF), které fungují úplně stejně.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Státní příspěvek až 340 Kč měsíčně</strong></p>
                <p class="pension-spec">Státní příspěvek se počítá jako 20 % z jakékkoliv měsíční úložky klienta nad 500 Kč, maximální hodnota je 340 Kč (při měsíční úložce 1 700 Kč).</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Příspěvek zaměstnavatele</strong></p>
                <p class="pension-spec">Průměrný měsíční příspěvěk do penzijního připojištění v roce 2025 činil 1 225 Kč.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Daňová úleva z částky nad 1700 Kč</strong></p>
                <p class="pension-spec">O veškeré měsíční úložky nad 1 700 Kč měsíčně si lze ponížit základ daně a získat daňovou vratku až 7 200 Kč. Pro získání této vratky je potřeba investovat 5 700 Kč měsíčně.</p>
                <p class="negative"><i class="fa-solid fa-circle-xmark"></i> <strong>Zhoršená flexibilita při výběru</strong></p>
                <p class="pension-spec">Bez daňové zátěže lze vybírat pouze jako desetiletou rentu.</p>
            </div>
            <div class="pension-info-box">
                <strong>Průměrný výnos (p.a.)</strong>
                <h4>1,19 %</h4>
            </div>
            <div class="pension-info-box">
                <strong>Smluvní podmínky:</strong>
                <ul>
                    <li>výplata možná nejdříve v <strong>60 letech</strong></li>
                    <li>smlouva uzavřená alespoň na <strong>10 let</strong></li>
                    <li>při předčasném ukončení (alespoň 2 roky po uzavření) dochází ke:
                        <ul>
                            <li>ztrátě nároku na státní příspěvky,</li>
                            <li>dodatečnému zdanění příspěvků zaměstnavatele (15 %),</li>
                            <li>zdanění výnosů (15 %),</li>
                            <li>zpětnému zdanění daňových úlev (15 %).</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pension-box">
            <h3>
                <span class="sup-heading">DPS</span>
                Doplňkové penzijní spoření
            </h3>
            <div class="pension-info-box">
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>3 a více strategií</strong></p>
                <p class="pension-spec">Při sjednávání DPS si lze vybrat ze 3 povinných strategií (konzervativní, vyvážená, dynamická). Konzervativní strategie (PKF) se podobají staršímu penzijnímu připojištění, vyvážené cílí na bezpečí a dynamické se snaží o nejvyšší možný výnos vyměnou za vyšší rizikovost.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Státní příspěvek až 340 Kč měsíčně</strong></p>
                <p class="pension-spec">Stejné podmínky jako u PP. – 20 % z úložky nad 500 Kč, maximálně 340 Kč.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Příspěvek zaměstnavatele</strong></p>
                <p class="pension-spec">Průměrný měsíční příspěvěk do DPS v roce 2025 činil 1 334 Kč.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Daňová úleva z částky nad 1700 Kč</strong></p>
                <p class="pension-spec">Stejně jako u PP – lze získat daňovou vratku až 7 200 Kč. Pro získání této vratky je potřeba investovat 5 700 Kč měsíčně.</p>
                <p class="negative"><i class="fa-solid fa-circle-xmark"></i> <strong>Zhoršená flexibilita při výběru</strong></p>
                <p class="pension-spec">Bez daňové zátěže lze vybírat pouze jako desetiletou rentu.</p>
            </div>
            <div class="pension-info-box">
                <strong>Průměrný výnos (p.a.)</strong>
                <h4>1,31 % &nbsp;|&nbsp; 4,14 % &nbsp;|&nbsp; 7,15 %</h4>
            </div>
            <div class="pension-info-box">
                <strong>Smluvní podmínky:</strong>
                <ul>
                    <li>výplata možná nejdříve v <strong>60 letech</strong></li>
                    <li>smlouva uzavřená alespoň na <strong>10 let</strong></li>
                    <li>při předčasném ukončení (alespoň 2 roky po uzavření) dochází ke:
                        <ul>
                            <li>ztrátě nároku na státní příspěvky,</li>
                            <li>dodatečnému zdanění příspěvků zaměstnavatele (15 %),</li>
                            <li>zdanění výnosů (15 %),</li>
                            <li>zpětnému zdanění daňových úlev (15 %).</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pension-box">
            <h3>
                <span class="sup-heading">DIP</span>
                Dlouhodobý investiční produkt
            </h3>
            <div class="pension-info-box">
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Libovolná strategie</strong></p>
                <p class="pension-spec">U DIPu je možné si vybrat jakoukoliv strategii, přesně na míru ušitou každému klientovi.</p>
                <p class="negative"><i class="fa-solid fa-circle-xmark"></i> <strong>Žádný státní příspěvek</strong></p>
                <p class="pension-spec">Stát na DIP nepřispívá. Namísto volí jiný základ pro výpočet daňové úlevy a klient tak díky tomu nemusí vkládat tak vysoké částky jako na PP nebo DPS.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Příspěvek zaměstnavatele</strong></p>
                <p class="pension-spec">Zaměstnavatelé mohou na DIP přispívat stejně snadno jako na DPS.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Daňová úleva z celé měsíční úložky</strong></p>
                <p class="pension-spec">O veškeré měsíční úložky si lze ponížit základ daně a získat daňovou vratku až 7 200 Kč. Pro získání této vratky je potřeba investovat jen 4 000 Kč měsíčně.</p>
                <p class="positive"><i class="fa-solid fa-circle-check"></i> <strong>Skvělá flexibilita při výběru</strong></p>
                <p class="pension-spec">U DIPu lze vybrat peníze jednorázově nebo jakýmkoliv způsobem si klient přeje. Výnosy podléhají daňové zátěži jen vlivem časového testu, jako jakákoliv jiná investice.</p>
            </div>
            <div class="pension-info-box">
                <strong>Průměrný výnos</strong>
                <h4>dle strategie</h4>
            </div>
            <div class="pension-info-box">
                <strong>Smluvní podmínky:</strong>
                <ul>
                    <li>výplata možná nejdříve v <strong>60 letech</strong></li>
                    <li>smlouva uzavřená alespoň na <strong>10 let</strong></li>
                    <li>při předčasném ukončení (alespoň 2 roky po uzavření) dochází ke:
                        <ul>
                            <li>ztrátě nároku na státní příspěvky,</li>
                            <li>dodatečnému zdanění příspěvků zaměstnavatele (15 %),</li>
                            <li>zdanění výnosů, které <strong>neprošli časovým testem 3 let</strong> (15 %),</li>
                            <li>zpětnému zdanění daňových úlev (15 %).</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="/sporeni/srovnavac" class="primary-button">Srovnávač &nbsp;&nbsp; &rarr;</a>
</section>
